autosave/
singlePlayerMap-crash.log
singlePlayerMap-crash.map
*.log
singlePlayerMap.bsp.json
singlePlayerMap-crash.txt
singlePlayerMap.pts
singlePlayerMap.texinfo.json
singlePlayerMap.leak.prt
singlePlayerMap-crash-1-crash.txt
*.prt
*.pts
*.json
*.obj
*.jpg
*.txt
*.png
